* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #e0e7ff;
}

.logo {
    width: 30px;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    cursor: pointer;
    transition: all 0.5s;
}
.logo:hover {
    transform: scale(1.1);
}
.logo p {
    transform: scale(1.1);
   padding-left: 6px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.9s;
}
nav ul li:hover {
    /* width: auto; */
    /* width: 50px; */
    transform: scale(1.1);
    background-color: #021431;
    border-radius: 4px;
    color: white;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
nav a:hover {
    color: white;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 1em;
   

}
/* #theme-toggle {
    font-size: 50px;
    color: #333;
} */
.moon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}
.moon:hover {
    transform: scale(1.3 );
}
.cart-icon {
    background-color: transparent;
    /* transition: all 0.5s; */
    cursor: pointer;
}
/* .cart-icon:hover {
    /* width: 20px;
    height: 20px; */
    /* background-color: #766b6b;
    border-radius: 50%;
    transform: scale(1.1);
} */
.fa-solid fa-moon {
    color: #007bff;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background-color: #ffffff;
}

.hero-text {
    max-width: 50%;
    width: 350px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #394E6A;
}

.hero-text p {
    margin-bottom: 1em;
    width: 450px;
}

.hero-text button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s;

}
.hero-text button:hover {
    transform: scale(1.1);
}
.hero-image {
    width: 400px;
    height: 300px;
    display: flex;
    gap: 1em;
    background-color: #333;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    position: relative;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.featured-products {

    padding: 2em;
    background-color: #ffffff;
}

.featured-products h2 {
    text-align: left;
    margin-bottom: 2em;
    color: #394E6A;
}

.product-grid {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 1em;
    
}

.product {
    width: 280px;
    height: 290px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 1em; */
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}
.product:hover {
    transform: scale(0.9);
}
.product img {
    padding-top: 10px;
    width: 240px;
    height: 200px;
    /* max-width: 100%; */
    /* height: auto; */
    border-radius: 10px;
    margin-bottom: 1em;
   
}

.product h3 {
    color: #13223a;
    /* /* margin-bottom: 0.5em;  */
}

.product p {
    padding-top: 5px;
    /* font-size: 1.2em; */
    color: #233b61;
    font-weight: 2000;
}

/* moon */


